*{ /* modelo reset */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background-color: black;
  display: grid;
}
.container{
  width: 90%;
  height: 95vh;
  margin: 20px auto 0 auto;
  display: grid;
  background-color: #000;
  grid-template-areas: 
    "a b c d"
    "a e f g";
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(auto-fit, minmax(100px, auto)) */
  grid-template-rows: 180px 180px;
  align-content: center;
  gap: 10px;
}
@media (max-width: 900px){
  .container{
    grid-template-areas: 
    "a a a"
    "b c d"
    "e f g";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 150px 150px;
    height: 100%;
  }
}
@media (max-width: 750px){
  .container{
    grid-template-areas: 
    "a a"
    "b c"
    "d e"
    "f g";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 150px 150px 150px;
  }
}
@media (max-width: 500px){
  .container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 375px;
  }
}